main {
    margin: 0 auto;
    overflow: hidden;
}

.secTitle {
    text-align: center;
    font-size: 36px;
    line-height: 54px;
    font-family: 'HangeulNuri-Bold', sans-serif;
}

.secTitleB {
    color: #00aae7;
}

/* 메인 배너 */
.section {
    height: 1080px;
    margin: 0 auto;
    position: relative;
}

.section input[id*="slide"] {
    display: none;
}
.section .page-wrapper{
    position: relative;
    height: 1080px;
}

/*post slider*/
.post-slider {
    width: 100%;
    margin: 0px auto;
    position: relative;
}

.post-slider .silder-title {
    text-align: center;
    margin: 0px auto;
}

.post-slider .post-wrapper {
    position: relative;
    margin: 0px auto;
    overflow: hidden;
}

.post-wrapper>img.slick-prev {
    position: absolute;
    top: 500px;
    left: 30px;
    width: 30px;
    height: 30px;
    z-index: 701;
}

.post-wrapper>img.slick-next {
    position: absolute;
    top: 500px;
    right: 30px;
    width: 30px;
    height: 30px;
    z-index: 700;
}

.post-slider .post-wrapper .post {
    display: inline-block;
    position: relative;
    background: white;
    border-radius: 5px;
}

.post-slider .post-wrapper .post .post-info {
    font-size: 15px;
    height: 30%;
    padding-left: 10px;
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 175px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* .post-slider .post-wrapper .post>a>div.textbox1{
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    color: white;
    font-family: 'HangeulNuri-Bold', sans-serif;
}
.post-slider .post-wrapper .post>a>div.textbox1>h3{
    font-size:54px;
    line-height:81px;
}
.post-slider .post-wrapper .post>a>div.textbox1>p{
    font-size: 36px;
    line-height:54px;
} */
.post-slider .post-wrapper .post>a>img {
    width: 100%;
    height: 100%;
    position: relative;
}
.slick-dots {
    position: absolute;
    left: 870px;
    bottom: 120px;
    padding: 0;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

.slick-dots li.slick-active button {
    background-color: white;
}

.slick-dots li button {
    width: 60px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0);
    border: white solid 2px;
    border-radius: 6px;
    text-shadow: none;
    color: transparent;
    font: 0;
}

.slick-dots li :hover {
    background-color: white;
}

/* 만들다 만나다 꿈꾸다 */
.event {
    height: 584px;
    margin: 0 auto;
    margin-top: 180px;
    position: relative;
}
.event .btnprev{
    position: absolute;
    left: 890px;
    bottom: 30px;
    z-index: 701;
}
.event .btnplay{
    display: none;
    position: absolute;
    left: 950px;
    bottom: 30px;
}
.event .btnplay.on{
    display: inline-block;
    position: absolute;
    left: 950px;
    bottom: 30px;
}
.event .btnpause{
    display:inline-block;
    position: absolute;
    left: 950px;
    bottom: 30px;
}
.event .btnpause.on{
    display: none;
    position: absolute;
    left: 950px;
    bottom: 30px;
}
.event .btnnext{
    position: absolute;
    left: 1010px;
    bottom: 30px; 
    z-index: 700;
}
.event .eventInner {
    width: 100%;
    height: 584px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    white-space: nowrap;
}

.event .eventInner .contents {
    width: 1440px;
    height: 584px;
    margin: 0 auto;
    
}
.event .eventInner .contents .rec{
    width: 1440px;
    height: 450px;
    margin: 0 auto;
    margin-top: 80px;
}
.event .eventInner .contents .rec .txtbox{
    float: left;
    width: 560px;
    height: 360px;
    margin: 0 auto;
    box-shadow: 10px 10px 0px rgba(80, 80, 80, .5);
    background-color: whitesmoke;
    border:rgba(80, 80, 80, .5) solid 1px;
    position: relative;
}
.event .eventInner .contents .rec .txtbox>h4{
    margin: 50px 50px 20px 50px;
    font-size: 26px;
    line-height: 32px;
    font-family: 'Nanum Gothic', sans-serif;
}
.event .eventInner .contents .rec .txtbox>p:nth-of-type(1){
    margin: 0 50px 20px 50px;
    font-size:14px;
    font-family: 'Nanum Gothic', sans-serif;
}
.event .eventInner .contents .rec .txtbox>p:nth-of-type(2){
    margin: 0 50px 35px 50px;
    font-size: 14px;
    line-height: 28px; 
    font-family: 'Nanum Gothic', sans-serif;
    color: rgba(80, 80, 80, .7);
}
.event .eventInner .contents .rec .txtbox>p:nth-of-type(3){
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.event .eventInner .contents .rec .txtbox>p:nth-of-type(3)>a{
    color: rgba(80, 80, 80, .7);
}
.event .eventInner .contents .rec .txtbox>span:nth-of-type(1){
    margin-left: 50px;
    font-size: 24px;
    color: #00aae7;
}
.event .eventInner .contents .rec .txtbox>span:nth-of-type(3){
    margin-left: 30px;
    font-size: 24px;
    color: #00aae7;
}
.event .eventInner .contents .rec .txtbox>span:nth-of-type(2n){
    font-size: 18px;
    color: #00aae7;
}
.event .eventInner .contents .img1{
    float: right;
    margin-top: 40px;
    width: 830px;
    height: 280px;
    background:url(../../imgs/diagram_plant_cycle.png);
    background-size: cover;
}
.event .eventInner .contents .img2{
    float: right;
    margin-top: 40px;
    width: 830px;
    height: 280px;
    background:url(../../imgs/couple.png);
    background-size: cover;
}
.event .eventInner .contents .img3{
    float: right;
    margin-top: 40px;
    width: 830px;
    height: 280px;
    background:url(../../imgs/greencamp.png);
    background-size: cover;
}
/* 유한킴벌리 소식 */
.news {
    height: 414px;
    margin: 0 auto;
    margin-top: 180px;
}

.news .inner {
    width: 1440px;
    height: 280px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

.news .inner>div[class^="news"] {
    width: 345px;
    height: 280px;
    background-color: whitesmoke;
    box-sizing: border-box;
    border-top: rgba(15, 15, 15, 0.5) solid 4px;
    position: relative;
}

/*소식 호버 이벤트*/
.news .inner>div[class^="news"]:hover {
    width: 345px;
    height: 280px;
    background-color: whitesmoke;
    box-sizing: border-box;
    border-top: #00aae7 solid 4px;
    position: relative;
    box-shadow: 0 2px 5px rgba(80, 80, 80, .5);
    transition: all 0.5s ease;
}

.news .inner>div[class^="news"]>h3 {
    margin: 30px 30px 0;
}

.news .inner>div[class^="news"]>h3>a {
    font-family: 'HangeulNuri-Bold', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: black;
}

.news .inner>div[class^="news"]>p {
    margin: 0 30px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: rgba(15, 15, 15, 0.6);
}

.news .inner>div.news1>p {
    margin-top: 48px;
}

.news .inner>div:not(.news1)>p {
    margin-top: 22px;
}

.news .inner>div[class^="news"]>time {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
    color: rgba(15, 15, 15, 0.3);
}

/* 서브배너 */
.visionTxt {
    margin: 190px auto;
    height: 500px;
    background: url(../../imgs/sub_banner1.png) no-repeat;
    box-sizing: border-box;
}

.visionTxt .viInner {
    margin: 0 auto;
    height: 500px;
}

.visionTxt .viInner .textbox2 {
    padding: 178px 0;
    color: white;
    text-align: center;
}

.visionTxt .viInner .textbox2>h3 {
    font-family: 'HangeulNuri-Bold', sans-serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 90px;
}

.visionTxt .viInner .textbox2>p {
    font-family: 'HangeulNuri-Bold', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 54px;
}

/* 유한킴벌리 브랜드 */
.product {
    margin: 0 auto;
}

.product .inner {
    margin: 0 auto;
    width: 1440px;
}

.product .productBox {
    margin-top: 80px;
    width: 1440px;
    height: 960px;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 33.3%;
}

.product .productBox>li {
    width: 480px;
    height: 480px;
}

.product .productBox>li>a {
    position: relative;
    display: block;
}

.product .productBox>li>a>div[class^="box"] {
    width: 100%;
}

.product .productBox>li>a>div[class^="box"]>img {
    width: 100%;
}

.product .productBox>a>div[class^="caption"]>p {
    display: none;
}

/* 브랜드 호버 이벤트 */
.product .productBox>li:hover {
    width: 480px;
    height: 480px;
    box-sizing: border-box;
}

.product .productBox>li:hover>a {
    position: relative;
    display: block;
    height: 480px;
}

.product .productBox>li:hover>a::after {

}

.product .productBox>li:hover>a>div[class^="box"] {
    width: 480px;
    height: 480px;
    overflow: hidden;
}

.product .productBox>li:hover>a>div[class^="box"]>img {
    transform: scale(1.1);
    transition: all .5s ease-out;
}

.product .productBox>li:hover>a>div[class^="caption"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 480px;
    box-shadow: 10px 10px 10px rgba(80, 80, 80, .5);
    transition: all .5s ease-out;
    background: rgba(15, 15, 15, 0.6);

}

.product .productBox>li:hover>a>div[class^="caption"]>p:first-of-type {
    margin-top: 180px;
    text-align: center;
    font: 32px 'HangeulNuri-Bold', sans-serif;
    color: white;
}

.product .productBox>li:hover>a>div[class^="caption"]>p:last-of-type {
    margin: 30px 0 0 215px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: white solid 2px;
    text-align: center;
    border-radius: 50%;
    font: 32px 'HangeulNuri-Bold', sans-serif;
    line-height: 52px;
    color: white;
}